@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Proza+Libre:wght@400;700&display=swap');

.container {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-third {
    width: 33.3%;
}

.col-half {
    width: 50%;
}

.col-quarter {
    width: 25%;
}

.col-three-quarters {
    width: 75%;
}

.full-width {
    width: 100%;
}

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/* headings and logo */

#logo {
    float: left;
    width: 10%;
    height: auto;
    padding-left: 100px;
    padding-top: 20px;
    background-color: black;
}

header {
    background-color: beige;
}

#menu {
    margin-right: 20px;
}

#menu, #logo {
    line-height: 100px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 60px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid blue;
}

.active {
    border-bottom: 1px solid blue;
}

/* page sections */

.services {
    background-color: gold;
}

.client {
    background-color: blue;
}

.contact {
    background-color: beige;
}

.footer {
    background-color: aqua;
}


@media screen and (max-width: 600px) {

    .col-third,
    .col-quarter,
    .col-half,
    .col-three-quarters {
        width: 100%;
    }
}