@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Proza+Libre:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

.container {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-services-width {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 10% 0;
}

.col-third {
    width: 33.3%;
}

.col-half {
    width: 50%;
}

.col-quarter {
    width: 25%;
}

.col-quarter-navbar {
    width: 25%;
}

.col-quarter-quote {
    width: 25%;
}

.col-three-quarters {
    width: 75%;
}

.col-three-quarters-quote {
    width: 75%;
}

.col-fifth {
    width: 20%;
}

.full-width {
    width: 100%;
}

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #3a3a3a;
    font-size: 16px;
}

p {
    padding: 10px 25%;

}

.p2 {
    font-size: 90%;
}

h1,
h2,
h3,
h4 {
    font-family: 'Proza Libre', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    color: white;
    text-shadow: 2px 2px 2px #000000;
    font-size: 200%;
}

h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

button {
    font-family: 'Proza Libre', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

a {
    color: white;
}

.grad-red {
    background-image: linear-gradient(to top right, #531c44, #962841, #e05b60);
}

.grad-blue {
    background-image: linear-gradient(to top right, #07081A, #003551);
}

#services,
#free-consultation,
#about-us,
footer {
    padding: 8rem 0;
}

/* headings and logo */

#logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

nav {
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-image: linear-gradient(to top right, #531c44, #962841, #e05b60);
    background-color: #962841;
    padding: 25px 0px;
    color: white;
    display: block;
    position: fixed;
    z-index: 1;
    width: 100%;

}

li {
    margin-left: 60px;
}

#menu {
    display: flex;
}

#menu li {
    line-height: 55px;
    list-style-type: none;
    text-transform: uppercase;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 700;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.free-consultation {
    padding: 15px 30px;
    font-size: 1rem;
    background-color: white;
    color: #3a3a3a;
}

.free-consultation:hover {
    background-color: #3a3a3a;
    color: white;
}

#navbar {
    overflow: hidden;
}


/* hero image section */

h1 {
    padding-top: 70px;
}

#hero-outer {
    height: auto;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    width: 100%;
    height: auto;
    background-color: #07081a;
    background: url("/assets/images/rise\ office.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 105px;
}

#cover-text {
    font-size: 150%;

    width: 100%;
    height: auto;

    padding: 50px;

    background-color: rgba(0, 0, 0, 0.8);

    color: white;
    text-shadow: 2px 2px 2px #000000;
}

#cover-text hr {
    border-color: white;
    padding-left: auto;
    padding-right: auto;
    margin: 25px auto;
}

#cover-text button {
    padding: 20px 40px;
    margin: 50px 0 75px;
    font-size: 1.4rem;

}

/* WHAT WE DO (aka Digital Media Agency) section */

#about-us h2 {
    margin: 0px 0 20;
}

.burgundy-h2 {
    color: #962841;
    margin-bottom: 10px;
}

.blue-button,
.burgundy-button {
    padding: 15px 30px;
    margin: 50px 2% 0;
    font-size: 1rem;
    color: white;

}

.blue-button:hover,
.burgundy-button:hover {
    background-color: #3a3a3a;
    color: white;
}

.blue-button {
    background-color: #003551;
}

.burgundy-button {
    background-color: #962841;
}

/* QUOTE section */



.quote {
    background-color: #212121;

}

.quote p {
    color: white;
    text-align: left;

}

.quotation-marks {
    font-size: 1000%;
    font-family: 'Proza Libre', sans-serif;
    margin-bottom: -120px;
}

.founder-quote {
    font-size: 120%;
    font-style: italic;
}

.rise-logo-quote {
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.1;
    margin: 50px;
    height: 350px;
    width: auto;

    position: absolute;
}

.founder {
    background: url(/assets/images/founder-211x350px.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 449px;
    margin-left: 80%;
    margin-top: 20px;
    width: 269px;

}

/* Services aka RAISE YOUR GAME section */

.purple-h2 {
    color: #531c44;
    margin-bottom: 10px;
}

#services h3 {
    margin: 30px 0 20px;
}

.upper-row {
    margin: 50px auto 100px;
}



hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #531c44;
    width: 60px;
}

.row-services-width button {
    padding: 10px 25px;
    margin: 25px 0 0;
    font-size: 0.8rem;
    color: white;
}

.row-services-width button:hover {
    background-color: #3a3a3a;
}

/* Social Media Marketing */

.smm-block {
    margin-bottom: 150px;
}

.smm-block h3 {
    color: #e05b60;
}

.smm-block hr {
    border-color: #e05b60;
}

.smm-block button {
    background-color: #e05b60;
}

/* SEO Marketing */

.seo-block {
    margin-bottom: 150px;
}

.seo-block h3 {
    color: #962841;
}

.seo-block hr {
    border-color: #962841;
}

.seo-block button {
    background-color: #962841;
}

/* Remarketing Ads */

.remarketing-block {
    margin-bottom: 150px;
}

.remarketing-block h3 {
    color: #531c44;
}

.remarketing-block hr {
    border-color: #531c44;
}

.remarketing-block button {
    background-color: #531c44;
}

/* TV Marketing */

.tv-block h3 {
    color: #07081a;
}

.tv-block hr {
    border-color: #07081a;
}

.tv-block button {
    background-color: #07081a;
}

/* Web Design */

.web-block h3 {
    color: #003551;
}

.web-block hr {
    border-color: #003551;
}

.web-block button {
    background-color: #003551;
}



/* FREE CONSULATION section */

form {
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.form-section {
    background-image: linear-gradient(to top right, #531c44, #962841, #e05b60);
    height: auto;
    color: white;
}


.form-paragraph {
    width: 100%;
}


input {
    margin: 15px 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-bottom: 4px solid white;
    font-family: 'Open Sans', sans-serif;
    width: 250px;
}

.form-button {
    background-color: white;
    color: #3a3a3a;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 700;
    font-size: inherit;
    border-radius: 10px;
    border-bottom: none;
    padding: 15px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #3a3a3a;
    color: white;
}

.website-form-input {
    width: 100%;
    max-width: 580px;
}

textarea {
    width: 100%;
    height: 100px;
    margin: 20px auto;
    background-color: inherit;
    background-color: rgba(0, 0, 0, 0.2);
    color: inherit;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    border-bottom: 4px solid white;
    max-width: 600px;
}

::placeholder {
    color: white;
    opacity: 0.4;
}

/* FOOTER */

footer {
    background-color: #212121;
    color: white;
}

.footer-links {
    text-decoration: none;
    color: #e05b60;
}

footer p {
    font-size: 1.2rem;
    padding: 10px 0;
}

footer h2 {
    margin-bottom: 0px;
    margin-top: 40px;
    font-size: 1rem;
}

.rise-logo-h {
    background: url(/assets/images/rise-logo-for-quote-and-footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 200px;
    margin-bottom: 30px;
}

i {
    font-size: 300%;
    padding: 25px 2% 0;
    text-align: center;
}

/* Responsive Design */

@media screen and (max-width: 1500px) {

    .founder {
        margin-left: 50%;
    }

    .quote p {
        padding: 10px 20%;
    }

}

@media screen and (max-width: 1450px) {

    .row-services-width div {
        width: 50%;
    }

    .row-services-width p {
        padding: 10px 10% 20px;
    }


    .tv-block {
        margin-bottom: 150px;
    }

    .web-block {
        margin: 0 auto;
    }
}

@media screen and (max-width: 1200px) {

    #cover-text p {
        padding: 10px 20%;
    }

    .what-we-do p {
        width: 100%;
        padding: 0;
        margin: 10px 20%;
    }

    .col-third>div {
        width: 50%;
        clear: both;
        padding: 0;
    }

    .founder {
        background: none
    }

    .quote p {
        text-align: center;
    }

    .blue-button,
    .burgundy-button {
        margin: 40px 10px 0;
        font-size: 0.80rem;
    }

    .rise-logo-quote {
        margin: 70px 150px;
        height: 312px;

    }

    /* code to remove founder image and changed .col-three-quarters to 100% width */


    .col-quarter-quote {
        display: none;
    }
    
    
    .col-three-quarters-quote {
        width: 100%;
    }
}


@media screen and (max-width: 1000px) {

    .row-services-width div {
        width: 100%;
    }

    .row-services-width p {
        padding: 10px 10% 20px;
    }



}

/* 900px */

@media screen and (max-width: 900px) {

    #cover-text p {
        padding: 25px 15%;
    }

    .blue-button,
    .burgundy-button {
        margin: 30px 4% 0;
        font-size: 0.8rem;
    }

    .what-we-do p {
        width: 100%;
        clear: both;
        padding: 0;
        margin: 10px 15%;
    }

    li {
        margin-left: 40px;
    }

    .quote img {
        display: none;
    }

    .rise-logo-quote {
        display: none;

    }

}

@media screen and (max-width: 800px) {

    .col-quarter {
        width: 100%;
    }

    .nav-display-none {
        display: none;
    }

    li {
        margin-left: 0;
    }

}

@media screen and (max-width: 690px) {



    #cover-text button {
        padding: 20px 40px;
        margin: 30px 30px 75px;
        font-size: 1rem;
    }

    form {
        width: 100%;
        padding: 0;
    }

    input {
        margin: 10px;
        width: 70%;
    }

    .website-form-input {
        max-width: 70%;
    }

    textarea {
        margin: 10px;
        width: 73%;
        min-width: 73%;
        max-width: 73%;
    }

    

    .form-button {
        width: 200px;
    }


}

@media screen and (max-width: 600px) {

    #cover-text {
        padding: 25px
    }

    .what-we-do p {
        width: 100%;
        padding: 0;
        margin: 10px 10%;
    }

    .services p {
        padding: 10px 10%;
    }


    .burgundy-button {
        margin-top: 20px;
        margin-bottom: 0;
    }



}

@media screen and (max-width: 550px) {

    .free-consultation {
        display: none;
    }

    nav {
        margin-left: 0;
        margin-right: 0;
    }

    #hero-image {
        padding-top: 103px;
    }

    #cover-text {
        padding: 0;
    }

}



@media screen and (max-width: 380px) {

    form {
        width: 100%;
        padding: 0;
    }

    input {
        margin: 10px auto;
        width: 70%;
        
    }

    .website-form-input {
        margin: 10px auto;
        width: 75%;
    }

    textarea {
        margin: 10px auto;
        width: 76%;
        min-width: 76%;
        max-width: 76%;
    }

    

    .form-button {
        margin-left: auto;
        margin-right: auto;
    }

}